/**
 * GSAP Scroll Pin Widget Styles
 * Shortcode SCSS File
 */
.tm-sc-gsap-scroll-pin {
  position: relative;
}
.tm-sc-gsap-scroll-pin .gsap-scroll-pin-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tm-sc-gsap-scroll-pin .scroll-pin-title {
  position: relative;
  margin: 0;
  padding: 20px;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  transform-origin: center center;
}

[dir=rtl] .tm-sc-gsap-scroll-pin .scroll-pin-title {
  direction: ltr;
}