.gallery {
  position: relative;
  width: 100%;
  text-align: center;
}
.gallery-thumb {
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-size: cover;
  background-position: center;
}
.gallery-thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.gallery-thumb-wrap {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
.gallery-thumb-inner-1 {
  position: absolute;
  top: -45%;
  right: 7%;
}
.gallery-thumb-inner-1 img {
  width: 500px;
  height: 230px;
  object-fit: cover;
}
.gallery-thumb-inner-2 {
  position: absolute;
  top: -31%;
  right: -72%;
}
.gallery-thumb-inner-3 {
  position: absolute;
  bottom: 5%;
  right: -63%;
}
.gallery-thumb-inner-4 {
  position: absolute;
  bottom: 6%;
  left: -95%;
}
.gallery-thumb-inner-5 {
  position: absolute;
  bottom: -58%;
  right: -28%;
}
.gallery-thumb-inner-6 {
  position: absolute;
  bottom: -58%;
  left: -16%;
}
.gallery-thumb-inner-7 {
  position: absolute;
  top: -37%;
  left: -56%;
}

.gallery-thumb-inner--desktop {
  display: none;
}

@media (min-width: 1200px) {
  .gallery-thumb-inner {
    display: block;
  }
  .gallery-thumb-inner--desktop {
    display: block;
  }
}
@media (max-width: 767px) {
  .gallery-area {
    padding: 50px 0;
  }
  .gallery-thumb img {
    width: 100%;
    max-width: 320px;
    height: auto;
  }
}