/**
 * GSAP Scroll Pin Widget Styles
 * Shortcode SCSS File
 */
.mascot-gsap-scroll-pin {
  position: relative;
}
.mascot-gsap-scroll-pin .scroll-pin-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mascot-gsap-scroll-pin .scroll-pin-title {
  position: relative;
  margin: 0;
  padding: 20px;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  transform-origin: center center;
}

[dir=rtl] .mascot-gsap-scroll-pin .scroll-pin-title {
  direction: rtl;
}